/* Fundo de toda a página */
body {
  background-color: #f5edf1;
}

/* Estilo para a barra de navegação */
#navigation {
  display: flex;
}

/* Estilo para o logotipo */
#logo {
  margin: 16px 46px;
}

/* Mantém a proporção da imagem do logotipo */
#logo img {
  width: 284px;
  height: auto;
}

/* Estilo para o item "Home" */
#home-box {
  background-color: #f5edf1;
  width: 62px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {
  font-weight: bold;
  font-size: 14px;
  color: #042552;
  transition: color 0.3s ease;
}

#home:hover {
  color: #229cff;
}

/* Rotação da seta do "Home" */
#home-box:hover > #home > .arrow {
  transform: rotate(180deg);
}

/* Estilo para o menu */
#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 285px;
  width: 248px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px 0px;
}

/* Estilo para os itens do menu */
#menu ul li {
  padding: 0;
  position: relative;
  cursor: pointer;
  color: #042552;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#menu ul li:hover {
  background-color: #f8f8f8;
  color: #229cff;
}

/* Estilo para as setas do submenu */
.arrow-left {
  margin-left: 53px;
  margin-right: 50px;
}

.hidden {
  display: none;
}
